---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Categories">
  <section class="panel">
    <h1>Categories</h1>
    <p>Use the <a href="/blog/">blog page</a> to browse the updated taxonomy.</p>
  </section>
</MainLayout>
